
.even-full {
    display: flex;
    justify-content: space-between;
}

.hdr-choice {
    display: inline-block;
    width: 100%;
}

.ways-button {
    background-color: #F9E79F;
    color: #000;
    font-weight: 900;
    width: 90%;
}