.bord {
    border: 3px solid blue;
}

.subh {
    font-size: 32px;
    text-wrap: nowrap;
}

.verb {
    margin: 0 29px;
    font-family: 'Acme', sans-serif;
}

.vmore {
    margin: 0 29px;
    font-family: 'Permanent Marker', sans-serif;
}

.contactContainer {
    display: "flex";
    justifyContent: "space-evenly";
    textAlign: "left" as const;

    @media (max-width: 768px) {
        display: block
    }

  }

div.contactContainer > div:first-child {
    padding-right: 22px;
}  

div.cdata {
    text-align: left;
    margin-left: 18px;
}

.contactBlock {
    display: inline-block;

    @media (max-width: 768px) {
        display: block;
        text-align: left;
        margin-left: 42px;
    }

}
.contactInfo {

    @media (max-width: 768px) {
        text-align: left;
    }

}

@media (max-width: 768px) {
    .subh {
        font-size: 28px;
        text-wrap: nowrap;
    }

    .verb {
        margin: 0 12px;
    }
    
    
}

@media (max-width: 480px) {
    .subh {
        font-size: 22px;
        text-wrap: nowrap;
    }

    .verb {
        margin: 0 4px;
    }
    
    
}